body {
    all: unset;
    font-family: sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.links {
    padding: 5em 10em;
    text-align: center;
    align-self: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

.links > ul {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
    list-style-type: none;
}

.links > ul > li {
    margin: 2em 0;
}

.links > ul > li > a {
    text-decoration: none;
}

.links > ul > li > a:link, a:visited {
    color: blue;
}

.links > ul > li > a:hover {
    color: red;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
    .links > h1 {
        font-size: 2em;
    }

    .links > ul > li {
        margin: 2em 0;
    }

    .links > ul > li > a {
        font-size: 1em;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .links > h1 {
        font-size: 3em;
    }

    .links > ul > li {
        margin: 2em 0;
    }

    .links > ul > li > a {
        font-size: 1.5em;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
    .links > h1 {
        font-size: 5em;
    }

    .links > ul > li {
        margin: 4em 0;
    }

    .links > ul > li > a {
        font-size: 3em;
    }
}