body {
    all: unset;
    font-family: sans-serif;
    /* Background Gmage */
    /* background-image: url(../images/avatar.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* Old Gradient */
    /* background: radial-gradient(circle at top left, dimgray, orange, orangered); */
    /* Animated Gradient */
    background: radial-gradient(circle at top left, #1bb56d, #38b77c, #54b789, #71ba99, #c76d10, #b04100, #7d2017, #912900);
    background-size: 200% 200%;
    animation: gradient-animation 15s ease-in-out infinite;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card {
    background-color: color-mix(in srgb, black, transparent 75%);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 3em 10em;
    box-shadow: 0px 0px 10px black;
    backdrop-filter: blur(30px);
}

.name-and-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-and-photo > h1 {
    text-shadow: 0px 0px 10px white;
    font-size: 3em;
    margin: 0.2em;
}

.name-and-photo > img {
    width: 9em;
    height: 9em;
}

.links {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.links > ul {
    margin: 0em;
    padding: 0em;
    list-style-position: inside;
    list-style-type: none;
}

.links > ul > li {
    margin: 1.5em 0;
    font-size: 1em;
}

.links > ul > li > a {
    /* text-decoration: none; */
    text-shadow: 0px 0px 10px white;
}

.links > ul > li > a:link, a:visited {
    color: black;
}

.links > ul > li > a:hover {
    color: orangered;
    text-shadow: black 1px 1px 2px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
    .name-and-photo > h1 {
        font-size: 3em;
    }

    .name-and-photo > img {
        width: 9em;
        height: 9em;
    }

    .links > ul > li {
        margin: 2.5em 0;
    }

    .links > ul > li > a {
        font-size: 1.5em;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .name-and-photo > h1 {
        font-size: 4em;
    }

    .name-and-photo > img {
        width: 12em;
        height: 12em;
    }

    .links > ul > li {
        margin: 2em 0;
    }

    .links > ul > li > a {
        font-size: 2em;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .name-and-photo > h1 {
        font-size: 6em;
    }

    .name-and-photo > img {
        width: 18em;
        height: 18em;
    }

    .links > ul > li {
        margin: 4em 0;
    }

    .links > ul > li > a {
        font-size: 3em;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 319px) {
    .name-and-photo > h1 {
        font-size: 7em;
    }

    .name-and-photo > img {
        width: 21em;
        height: 21em;
    }

    .links > ul > li {
        margin: 5em 0;
    }

    .links > ul > li > a {
        font-size: 4em;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
