body {
    all: unset;
    font-family: sans-serif;
    color: black;
    /* Background Gmage */
    /* background-image: url(../images/avatar.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* Old Gradient */
    /* background: radial-gradient(circle at top left, dimgray, orange, orangered); */
    /* Animated Gradient */
    background: radial-gradient(circle at top left, #5e997c, #65a587, #71ba99, #77c4A0, #c76d10, #b04100, #7d2017, #912900);
    background-size: 200% 200%;
    animation: gradient-animation 15s ease-in-out infinite;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin: 10vh 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 30vw;
    background-color: color-mix(in srgb, black, transparent 75%);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 3rem 10rem;
    box-shadow: 0px 0px 10px black;
    backdrop-filter: blur(30px);
}

.card hr { /* Any child hr element that is inside .card will be selected */
    width: 50%;
    border: thin solid color-mix(in srgb, black, transparent 75%);
    margin: 1.25rem 0rem;
}

.name-and-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name-and-photo > h1 {
    text-shadow: 0px 0px 10px white;
    font-size: 3rem;
    margin: 0rem 0rem 1rem 0rem;
}

.name-and-photo > img {
    width: 15rem;
    height: auto;
    /* mask-image:
        linear-gradient(to top,  transparent 0%, black 7.5%),
        linear-gradient(to bottom,  transparent 0%, black 7.5%),
        linear-gradient(to left,  transparent 0%, black 7.5%),
        linear-gradient(to right,  transparent 0%, black 7.5%),
        radial-gradient(circle closest-corner at center, black 95%, transparent 100%);
    mask-position: center;
    mask-composite: intersect; */
}

.artist {
    color: #0D0D0D;
    text-shadow: 0px 0px 10px white;
    margin: 0.5rem 0rem 0rem 0rem;
}

.artist > span {
    font-size: 0.75rem;
}

.artist > span > a {
    font-size: 0.75rem;
}

.artist > span > a:link, a:visited {
    color: black;
}

.artist > span > a:hover {
    color: orangered;
    text-shadow: 0px 0px 10px black;
}

.refsheet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.refsheet-header > h1 {
    text-shadow: 0px 0px 10px white;
    font-size: 3rem;
    margin: 0rem 0rem 0.5rem 0rem;
}

.refsheet-header > h4 {
    text-shadow: 0px 0px 10px white;
    font-size: 0.75rem;
    margin: 0rem 0rem 0rem 0rem;
}

.refsheet > h2 {
    text-shadow: 0px 0px 10px white;
    font-size: 2rem;
    margin: 0rem 0rem 0.5rem 0rem;
}

.refsheet > h3 {
    text-shadow: 0px 0px 10px white;
    font-size: 1.25rem;
    margin: 0rem 0rem 0.5rem 0rem;
}

.refsheet > a > img {
    width: 35rem;
    height: auto;
}

.refsheet-footer > a {
    text-shadow: 0px 0px 10px white;
    font-size: 1.25rem;
    margin: 0rem 0rem 0.5rem 0rem;
}

.refsheet-footer > a:link, a:visited {
    color: black;
}

.refsheet-footer > a:hover {
    color: orangered;
    text-shadow: 0px 0px 10px black;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin: 0rem;
    padding: 0rem;
    list-style-position: inside;
    list-style-type: none;
}

.links > ul > li {
    font-size: 1.25rem;
}

.links > ul > li > a {
    /* text-decoration: none; */
    text-shadow: 0px 0px 10px white;
}

.links > ul > li > a:link, a:visited {
    color: black;
}

.links > ul > li > a:hover {
    color: orangered;
    text-shadow: 0px 0px 10px black;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
    .card {
        max-width: 50vw;
    }

    .card hr {
        margin: 2rem 0rem;
    }

    .name-and-photo > h1 {
        font-size: 3rem;
        margin: 0rem 0rem 0.75rem 0rem;
    }

    .name-and-photo > img {
        width: 15rem;
    }

    .artist {
        margin: 0.5rem 0rem 0rem 0rem;
    }

    .artist > span {
        font-size: 1rem;
    }

    .artist > span > a {
        font-size: 1rem;
    }

    .refsheet-header > h1 {
        font-size: 3rem;
    }

    .refsheet-header > h4 {
        font-size: 1rem;
    }

    .refsheet > h2 {
        font-size: 2rem;
    }

    .refsheet > h3 {
        font-size: 1.5rem;
    }

    .refsheet > a > img {
        width: 40rem;
    }

    .refsheet-footer > a {
        font-size: 1.5rem;
    }

    .links > ul {
        gap: 2rem;
    }

    .links > ul > li > a {
        font-size: 1.5rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .card {
        max-width: 50vw;
    }

    .card hr {
        margin: 3rem 0rem;
    }

    .name-and-photo > h1 {
        font-size: 4rem;
        margin: 0rem 0rem 1rem 0rem;
    }

    .name-and-photo > img {
        width: 20rem;
    }

    .artist {
        margin: 0.5rem 0rem 0rem 0rem;
    }

    .artist > span {
        font-size: 1.5rem;
    }

    .artist > span > a {
        font-size: 1.5rem;
    }

    .refsheet-header > h1 {
        font-size: 4rem;
    }

    .refsheet-header > h4 {
        font-size: 1.5rem;
    }

    .refsheet > h2 {
        font-size: 3rem;
    }

    .refsheet > h3 {
        font-size: 2rem;
    }

    .refsheet > a > img {
        width: 40rem;
    }

    .refsheet-footer > a {
        font-size: 2rem;
    }

    .links > ul {
        gap: 3rem;
    }

    .links > ul > li > a {
        font-size: 2rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .card {
        max-width: 50vw;
    }

    .card hr {
        margin: 3rem 0rem;
    }

    .name-and-photo > h1 {
        font-size: 6rem;
        margin: 0rem 0rem 1.5rem 0rem;
    }

    .name-and-photo > img {
        width: 25rem;
    }

    .artist {
        margin: 0.5rem 0rem 0rem 0rem;
    }

    .artist > span {
        font-size: 2rem;
    }

    .artist > span > a {
        font-size: 2rem;
    }

    .refsheet-header > h1 {
        font-size: 6rem;
    }

    .refsheet-header > h4 {
        font-size: 2rem;
    }

    .refsheet > h2 {
        font-size: 5rem;
    }

    .refsheet > h3 {
        font-size: 3rem;
    }

    .refsheet > a > img {
        width: 40rem;
    }

    .refsheet-footer > a {
        font-size: 3rem;
    }

    .links > ul {
        gap: 3rem;
    }

    .links > ul > li > a {
        font-size: 3rem;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 319px) {
    .card {
        max-width: 50vw;
    }

    .card hr {
        margin: 4rem 0rem;
    }

    .name-and-photo > h1 {
        font-size: 7rem;
        margin: 0rem 0rem 2rem 0rem;
    }

    .name-and-photo > img {
        width: 30rem;
    }

    .artist {
        margin: 1rem 0rem 0rem 0rem;
    }

    .artist > span {
        font-size: 2.5rem;
    }

    .artist > span > a {
        font-size: 2.5rem;
    }

    .refsheet-header > h1 {
        font-size: 7rem;
    }

    .refsheet-header > h4 {
        font-size: 2.5rem;
    }

    .refsheet > h2 {
        font-size: 5rem;
    }

    .refsheet > h3 {
        font-size: 3rem;
    }

    .refsheet > a > img {
        width: 40rem;
    }

    .refsheet-footer > a {
        font-size: 4rem;
    }

    .links > ul {
        gap: 4rem;
    }

    .links > ul > li > a {
        font-size: 4rem;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
